<div class="container-fluid footer">
	<div class="row">
		<div class="col-lg-5">
			<h1>Mimmo's World</h1>
		</div>
		<div class="col-lg-5">
			<a routerLink="">Home</a>
			<a routerLink="about">About me</a>
			<a routerLink="contact">Contact</a>
		</div>
		<div class="col-lg-2 align-right">
			<a href="https://www.linkedin.com/in/domenico-parisi-1578a5144/" target="_blank"><i
					class="bi bi-linkedin"></i></a>
			<a href="https://www.instagram.com/mimmoperis/" target="_blank"><i class="bi bi-instagram"></i></a>
			<a href="https://www.facebook.com/pippomeris" target="_blank"><i class="bi bi-facebook"></i></a>
		</div>
	</div>
</div>