<div class="container mt-5 mb-4">
	<h1 class="text-center">How to <span class="highlight">contact me</span></h1>
	<div class="col mt-5">
		<div class="stepBox">
			<h2>You can find me on</h2>
			<a href="https://www.linkedin.com/in/domenico-parisi-1578a5144/" target="_blank"><i
					class="bi bi-linkedin"></i></a>
			<a href="https://www.instagram.com/mimmoperis/" target="_blank"><i class="bi bi-instagram"></i></a>
			<a href="https://www.facebook.com/pippomeris" target="_blank"><i class="bi bi-facebook"></i></a>
		</div>
		<div class="stepBox">
			<h2>You can also send me an email</h2>
			<a href="mailto:domeparis9629@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
		</div>
	</div>
</div>