<main>
	<div class="container">
		<h3 class="card-title">Work Experience</h3>
		<div class="row">
			<div class="col-md-12">
				<div class="main-timeline">
					<a href="#" class="timeline enel">
						<div class="timeline-icon enel-icon"><i class="bi bi-globe"></i></div>
						<div class="timeline-content">
							<h4 class="title">06/2021 - Present</h4>
							<p class="description">
								<span style="font-weight: bold;">Solution Developer at Enel Group (VE)</span>
								<br>
								Infrastructure & Networks Digital Hub
								<br>
								Global Digital Solutions
								<br>
								◦ Finding the best tech solutions among all possible to solve the existing business or
								operation issues.
								<br>
								◦ Describing the structure, characteristics, behavior, and other aspects of software to
								project stakeholders.
								<br>
								◦ Defining a Global Platform Architecture to be used in every country where Enel is
								present.
								<br>
								<br>
								• Agile methodologies and tools (SCRUM | KANBAN Framework)
								<br>
								• Collaboration tools (Atlassian suite: Trello, Jira, Confluence)
								<br>
								• DevOps CI/CD (Maven, Atlassian Bamboo, Canary Releasing)
								<br>
								• Microservices (Spring, Spring boot, Java, Scala)
								<br>
								• Container (Docker, Kubernetes)
								<br>
								• API management (WSO2)
								<br>
								• Source code repository (Git, Atlassian BitBucket)
								<br>
								• Static code analysis (CAST, SonarQube)
								<br>
								• Log management (ELK Stack)
								<br>
								• NoSQL DB (MongoDB, DynamoDB)
								<br>
								• Other DB (OracleDB, PostgreSQL, SAP HANA)
								<br>
								• AWS Services (EC2, DynamoDB, S3, Aurora, Lambda, etc.)
								<br>
								• BigData Architecture (Lamba and Kappa: Batch processing with SPARK , streaming with
								KAFKA)
								<br>
								• Domain Driven Design
								<br>
								• Test Driven Development
								<br>
								• Testing (Sonarqube, Postman, JUnit, Gatling, Cucumber)
								<br>
								• Business Process Management engine (Redhat ProcesscAutomation Manager) and modeling
								(BPMN 2.0)
								<br>
								• Microservices Architecture (event sourcing, saga, outbox pattern, coreography or
								orchestration, api composition, bff, service mesh)
								<br>
								• Integration with legacy systems
								<br>
								• Strangling pattern for move legacy products into a new microservice architecture
							</p>
						</div>
					</a>
					<a href="#" class="timeline cap">
						<div class="timeline-icon"><i class="bi bi-code-square"></i></div>
						<div class="timeline-content">
							<h4 class="title">04/2021 - 06/2021</h4>
							<p class="description">
								<span style="font-weight: bold;">Software Engineer at Capgemini (VE)</span>
								<br>
								Spring, Spring Boot, Hibernate, JPA, JDBC, Oracle DB, Tomcat, JBoss, JavaServer Pages
								(JSP), SVN
							</p>
						</div>
					</a>
					<a href="#" class="timeline adt">
						<div class="timeline-icon adt-icon"><i class="bi bi-code-slash"></i></div>
						<div class="timeline-content">
							<h4 class="title">01/2020 - 03/2021</h4>
							<p class="description">
								<span style="font-weight: bold;">Junior Software Engineer at Almaviva Digitaltec
									(VE)</span>
								<br>
								<span style="font-weight: bold;">• Front End:</span> HTML, CSS, JavaScript, TypeScript,
								Android /
								iOS, Ionic / Cordova /
								Capacitor, Angular, Angular Material, React, Redux, Rxjs, Nextjs, UIkit
								<br>
								<span style="font-weight: bold;">• Test:</span> JUnit, Jasmine, sonarqube, Postman,
								cypress
								<br>
								<span style="font-weight: bold;">• Back End</span> MySQL, Postgresql, Java, Spring,
								Spring boot,
								Maven, python, Amazon AWS,
								firebase, Redis, RESTfull API
								<br>
								<span style="font-weight: bold;">• Stack MEAN:</span> MongoDB, Expressjs, Angular,
								Nodejs
								<br>
								<span style="font-weight: bold;">• Other:</span> Git, GitLab, GitFlow, npm, Agile /
								Scrum,
								Patterns, Project Documentation,
								Pipelines Azure CI/CD, Docker, Kubernetes
							</p>
						</div>
					</a>
					<a href="#" class="timeline geox">
						<div class="timeline-icon geox-icon"><i class="bi bi-shield-check"></i></div>
						<div class="timeline-content">
							<h4 class="title">01/2019 - 07/2019</h4>
							<p class="description">
								<span style="font-weight: bold;">Junior Cyber Security Specialist at Geox (TV)</span>
								<br>
								• Implementation of security measures for information systems;
								<br>
								• Carrying out checks on the vulnerability and efficiency of information systems;
								<br>
								• Definition of safety standards;
								<br>
								• Assessment of security risks and threats;
								<br>
								• Management of operational risks;
								<br>
								• Identification of the security tests to be implemented to evaluate the effectiveness
								of the solution adopted.
							</p>
						</div>
					</a>
					<a href="#" class="timeline trevi">
						<div class="timeline-icon trevi-icon"><i class="bi bi-laptop"></i></div>
						<div class="timeline-content">
							<h4 class="title">09/2018 - 01/2019</h4>
							<p class="description">
								<span style="font-weight: bold;">Junior Software Engineer at Trevigroup (TV)</span>
								<br>
								• Operational support for data management solutions;
								<br>
								• Design and implementation of multi-tier software applications;
								<br>
								• Design of the software module from an agile point of view in the n-tier,
								multi-interface and distributed environment;
								<br>
								• Development of the various application modules;
								<br>
								• Verification and integration of logic to optimize / integrate aspects of interfaces
								and user interaction processes;
								<br>
								• Test of the application modules that make up the solution;
								<br>
								• Verification of the implemented functions, to ensure correct integration in the
								complex environment and in compliance with the needs of the user / customer.
							</p>
						</div>
					</a>
					<a href="#" class="timeline zamb">
						<div class="timeline-icon zamb-icon"><i class="bi bi-briefcase"></i></div>
						<div class="timeline-content">
							<h4 class="title">01/2018 - 03/2019</h4>
							<p class="description">
								<span style="font-weight: bold;">Professor at Istituto Zambler (VE)</span>
								<br>
								Information Tecnology and Maths for high school students
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<h3 class="card-title">Education and certifications</h3>
		<div class="row justify-content-center">
			<div class="col-md-12 fix-width">
				<div class="main-timeline2 text-center">
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">01/2022</span>
							<div class="inner-content">
								<h4 class="title">Udemy</h4>
								<p class="description">
									Spring & Hibernate for Beginners (includes Spring Boot)
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">05/2021</span>
							<div class="inner-content">
								<h4 class="title">Coursera</h4>
								<p class="description">
									Google Cloud Platform Fundamentals: Core Infrastructure
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">01/2021</span>
							<div class="inner-content">
								<h4 class="title">Udemy</h4>
								<p class="description">
									Docker and Kubernetes: The Complete Guide
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">10/2020</span>
							<div class="inner-content">
								<h4 class="title">Udemy</h4>
								<p class="description">
									React - The Complete Guide (incl Hooks, React Ruoter, Redux)
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">05/2020</span>
							<div class="inner-content">
								<h4 class="title">Amazon Web Services (AWS)</h4>
								<p class="description">
									AWS Cloud Practitioner Essentials
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">04/2020</span>
							<div class="inner-content">
								<h4 class="title">Life Learning</h4>
								<p class="description">
									AGILE Project Management
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">03/2020</span>
							<div class="inner-content">
								<h4 class="title">Coursera</h4>
								<p class="description">
									Front-End JavaScript Frameworks: Angular
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">02/2020</span>
							<div class="inner-content">
								<h4 class="title">Cisco</h4>
								<p class="description">
									Introduction to Cybersecurity
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">11/2018</span>
							<div class="inner-content">
								<h4 class="title">Università Ca' Foscari di Venezia</h4>
								<p class="description">
									English B2
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">01/2013</span>
							<div class="inner-content">
								<h4 class="title">Cisco</h4>
								<p class="description">
									Cisco Certified Network: Associate Industrial (CCNA I)
								</p>
							</div>
						</a>
					</div>
					<div class="timeline">
						<a href="#" class="timeline-content">
							<span class="year">2015 - 2018</span>
							<div class="inner-content">
								<h4 class="title">Università Ca' Foscari di Venezia</h4>
								<p class="description">
									Bachelor's Degree, Information Technology
								</p>
							</div>
						</a>
					</div>
					<div class="timeline" style="margin-bottom: 25px">
						<a href="#" class="timeline-content">
							<span class="year">2010 - 2015</span>
							<div class="inner-content">
								<h4 class="title">ITIS C. Zuccante</h4>
								<p class="description">
									High School Degree
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>