<div class="container border">
	<div class="container">
		<h1 class="title text-center font-weight-bold">About me</h1>
		<br>
		I was born in <a href="https://it.wikipedia.org/wiki/Mestre" target="_blank">Mestre</a> (VE) on June 21, 1996.
		<br>
		<br>
		From 2010 to 2015 i attended the <a href="https://www.itiszuccante.edu.it/" target="_blank"> ITIS “Carlo
			Zuccante”</a>
		high school in Mestre, where I lived with my parents, Angela and Salvatore, and my brother, Francesco.
		<br>
		<br>
		In 2018 i earned my Bachelor Degree: the Computer Science Program at <a href="https://www.unive.it/"
			target="_blank">Ca'
			Foscari</a> of University.
		<br>
		<br>
		I currently work as a Solution Developer for <a href="https://www.enel.com/" target="_blank"> Enel
			Group</a>, a
		private
		company that deals with
		sustainability and energy development from renewable sources at a global level.
		<br>
		<br>
		I live in Mestre with my girlfriend, Elena, and my little doggy, Marvin.
		<br>
		<br>
		My passions are trekking in the mountains and playing the drums and the guitar.
		<br>
		Moreover i'am an amateur football player and i enjoy rock-climbing.
		<br>
		<br>
		I recently grew interested in blockchain and trading.
	</div>
	<div class="border__horizontal"></div>
	<div class="border__vertical"></div>
</div>