#carouselExampleCaptions {
  background-position: center top;
  background-size: cover;
}

@media screen and (max-width: 667px) {
  img {
    height: 76vh;
    width: auto !important;
  }
  .montain {
    height: 141vh;
  }
  .venice {
    height: 80vh;
  }

  .marvin {
    height: 80vh;
  }
}

@media screen and (max-width: 667px) {
  .montain {
    transform: translate(-9%, 0);
  }
}

@media screen and (max-width: 596px) {
  .mu {
    transform: translate(-7%, 0);
  }
}

@media screen and (max-width: 560px) {
  .montain {
    transform: translate(-17%, 0);
  }
}

@media screen and (max-width: 525px) {
  .montain {
    transform: translate(-22%, 0);
  }

  .mu {
    transform: translate(-18%, 0);
  }

  .venice {
    transform: translate(-8%, 0);
  }
}

@media screen and (max-width: 475px) {
  .montain {
    transform: translate(-29%, 0);
  }

  .venice {
    transform: translate(-12%, 0);
  }
}

@media screen and (max-width: 425px) {
  .montain {
    transform: translate(-37%, 0);
  }

  .mu {
    transform: translate(-26%, 0);
  }

  .venice {
    transform: translate(-21%, 0);
  }
}

@media screen and (max-width: 374px) {
  .montain {
    transform: translate(-45%, 0);
  }
  .venice {
    transform: translate(-33%, 0);
  }
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 9.85rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
}

.carousel-caption h5 {
  font-size: 60px;
}

.carousel-caption p {
  margin-left: 4px;
  font-size: 25px;
  text-shadow: var(--primary-color) 1px 0 10px;
}
