<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
			aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
			aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
			aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
			aria-label="Slide 4"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
			aria-label="Slide 5"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="4000">
			<img src="../../../assets/img/code.jpg" class="d-block w-100" alt="coding">
			<div class="carousel-caption d-md-block">
				<h5>Coding</h5>
				<p>My great passion.</p>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4000">
			<img src="../../../assets/img/marvin-montain.jpeg" class="d-block w-100 montain" alt="montain">
			<div class="carousel-caption d-md-block">
				<h5>Montain</h5>
				<p>My favorite place.</p>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4000">
			<img src="../../../assets/img/venice.jpeg" class="d-block w-100 venice" alt="venice">
			<div class="carousel-caption d-md-block">
				<h5>Venice</h5>
				<p>My home town.</p>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4000">
			<img src="../../../assets/img/marvin.jpg" class="d-block w-100 marvin" alt="marvin">
			<div class="carousel-caption d-md-block">
				<h5>Marvin</h5>
				<p>My little friend.</p>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4000">
			<img src="../../../assets/img/mu.jpeg" class="d-block w-100 mu" alt="elena">
			<div class="carousel-caption d-md-block">
				<h5>Elena</h5>
				<p>My love.</p>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>